.grid {
  section {
    margin: 10px;
    @supports ( grid-area: auto ) {
        margin: 0;
    }
  }
}

.contentstack1-area .block-views.first {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    border: 4px solid green;
    @media all and (max-width: 1080px) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
    }
    @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }
}



.contentstack1-area .block-views.block-even {
    border: 2px solid yellow;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    @media all and (max-width: 1080px) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
    }
    @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
    }
}



.block-dfp.block-odd {
    border: 2px solid red;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    @media all and (max-width: 1080px) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
}


.block-dfp.block-even {
    border: 2px solid orange;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    @media all and (max-width: 1080px) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
    }
    @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
    }
}


.block-newsletter-cta {
    border: 2px solid blue;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
    @media all and (max-width: 1080px) {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
        -ms-grid-column-span: 1;
    }
    @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 1;
    }
}


.contentstack1-area {
    display: -ms-grid;
    -ms-grid-columns: 43% auto 300px;
    @media all and (max-width: 1080px) {
        -ms-grid-columns: auto 300px;
    }
    @media all and (max-width: 700px) {
        -ms-grid-columns: 100%;
    }
}


    #approvals-actions {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
      @media all and (max-width: 1080px) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
      }
      @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
      }
}


    #featured {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      @media all and (max-width: 1080px) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column-span: 2;
      }
      @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column-span: 1;
      }
}


    #trending {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
      @media all and (max-width: 1080px) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
      @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
}

    #ad3 {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
      @media all and (max-width: 1080px) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }
      @media all and (max-width: 700px) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
}

.contentstack2-area {
    display: -ms-grid;
    -ms-grid-columns: 24% auto 300px;

    @media all and (max-width: 1080px) {
        -ms-grid-columns: auto 300px
    }
    @media all and (max-width: 700px) {
        -ms-grid-columns: 100%
    }
}



  .current-issue {
    display: -ms-grid;
    -ms-grid-columns: 200px 1fr 1fr;

      @media all and (max-width: 900px) {
        -ms-grid-columns: 200px auto;
    }

      @media all and (max-width: 600px) {
        -ms-grid-columns: 100%;
    }

    > div {
        &:first-child {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            @media all and (max-width: 900px) {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                padding-bottom: 30px;
                @supports ( grid-area: auto ) {
                    padding-bottom: 0;
                }
                }
            @media all and (max-width: 600px) {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
            }
        &:nth-child(2) {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            @media all and (max-width: 900px) {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
            }
            @media all and (max-width: 600px) {
                -ms-grid-column: 1;
                -ms-grid-row: 2;
            }
            padding: 0 30px 0 30px;
            @media all and (max-width: 900px) {
                padding: 0 0 30px 30px;
            }
            @media all and (max-width: 600px) {
                padding: 0 0 30px 0;
            }

            @supports ( grid-area: auto ) {
                padding: 0;
            }
        }
        &:last-child {
            -ms-grid-column: 3;
            -ms-grid-row: 1;
            @media all and (max-width: 900px) {
                -ms-grid-column: 1;
                -ms-grid-row: 2;
                -ms-grid-column-span: 2;
            }
            @media all and (max-width: 600px) {
                -ms-grid-column: 1;
                -ms-grid-row: 3;
                -ms-grid-column-span: 1;
            }
        }
        }
