// _regions.footer.sass

#footer {
    margin-top: 100px;
    padding: 30px 0;
    background-color: #333;
    float: none;
    clear: both;

        p {
          color: #ddd;
        }

        .title {
          color: #ddd;
          font-size: 1.6rem;
          font-weight: 700;
        }



        ul.menu {
            list-style-type: none;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0 30px 0 3px;
                font-size: 1.4rem;
                line-height: 1.6;
                color: #eee;



                a {
                    color: #ddd;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .block-staff-contacts {

            p {
                padding: 0 5px 0 3px;
                margin: 0 0 0 0;
                font-size: 1.4rem;
                line-height: 1.6;
                color: #eee;



                a {
                    color: #ddd;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .terms {
                margin-top: 20px;
                padding: 0;
                font-size: 1.3rem;
                line-height: 1.5;
                color: #eee;
        }






  .contain {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;



    @media all and (max-width: 900px) {
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: auto auto auto;
    }

    @media all and (max-width: 600px) {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto auto;

    }

    }


  .ptresources {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @media all and (max-width: 900px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    @media all and (max-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    }



  .usefullinks {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    @media all and (max-width: 900px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    }
    @media all and (max-width: 600px) {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    }

.block-staff-contacts {
    margin: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    @media all and (max-width: 900px) {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    @media all and (max-width: 600px) {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    }
    }

.terms {
    padding: 20px 0 10px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    @media all and (max-width: 900px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    }
    @media all and (max-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    }
}


}









