// _blocks.default.sass
//
// Place all default block styles here.
// Individual block styles are saved as their own files in the format of
//  - Example: _blocks.block-id.sass



// TRENDING



#views-top_trending-block {

    h3 {
      padding: 4px 6px;
      margin: 0;
      background-color: #666;
      font-family: $font-serif;
      font-size: 1.8rem;
      font-weight: 400;
      color: #fff;
    }




    .view-content {
        padding: 0;
        margin: 0;

        .views-row {
            border-bottom: 1px solid #ccc;
            &:hover {
                    color: #222;
                    background-color: #f1f1f1;
                }

            a {
                display: table;
                width: 100%;
                text-decoration: none;
                color: #333;

            }

                > span {
                    display: table-cell;
                    vertical-align: middle;

                    &:first-child {
                        width: 2.0rem;
                        padding: 10px 20px;
                        font-family: Times, serif;
                        font-size: 2.8rem;
                        line-height: 1;
                        color: #333;
                    }


                    &:last-child {
                        font-size: 1.4rem;
                        padding: 8px 0 8px 0;
                    }
                }
         }
    }
}

